.div1, .div2, .div3, .div4, .stop, .play, .rest {
  position: absolute;
}

.div1, .div2, .div3, .div4 {
  margin: 0px;
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 100%;
}

.stop, .play {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  background: black;
  color: azure;
}

.rest {
  cursor: pointer;
  height: 50px;
  width: 40px;
  background: black;
}
